.bloc{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: burlywood;
    font-size: xx-large;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
   
}

#first{
    background-color: blueviolet;
}

#second{
    background-color: red;
}

#third{
    background-color: yellow;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(0, 182, 91);
    border-radius: 50%;
    margin: 0.3em;
    transition: 0.6s;
    
}

.big {
    transform: scale(2);
}

.dot:hover{
    background-color: rgb(243, 207, 1);
}

.scroll {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;    
    right: 0;
    transform: translate(0, -50%);    
    margin: 1em;
}


.menuQuery {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3em;
    background-color: chartreuse;
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-around;    
    list-style: none; 
    align-content: center;
    align-items: center;     
    font-size: large;
    font-weight: bolder;
    height: 100%;
}


li:hover {
    background-color: chocolate;    
    align-self: center;
}